.pui-notify .pui-notify-close
{
	background-image: url('../img/dialog.png') !important;
	background-position: 0 0;
	width: 36px;
	height: 36px;
	cursor: pointer;
	opacity: 1;
	position: absolute;
	left: 50%;
	margin-left: 464px;
}

.pui-notify .pui-notify-close:hover
{
	background-position: 0 -36px;
}

.pui-notify,
.pui-notify-content
{
	color: #FFF !important;
}

.pui-notify
{
	border-top: 2px solid #002C53;
	border-bottom: 2px solid #002C53;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #008CD9/* url('../img/energito.png') left bottom no-repeat */!important;
	height: auto;
	-moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
	padding: 0;
}

.pui-notify-content
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 1000px;
	margin: 0 auto;
	padding: 50px 100px 50px 250px;
	min-height: 190px;
	background: url('../img/energito.png') left bottom no-repeat;
}

.pui-notify.success .pui-notify-content
{
	background-image: url('../img/energito.png'), url('../img/success.png') !important;
	background-position: left bottom, 174px 100px !important;
	background-repeat: no-repeat, no-repeat !important;
}

.pui-notify.error .pui-notify-content
{
	background-image: url('../img/energito.png'), url('../img/error.png') !important;
	background-position: left bottom, 174px 100px !important;
	background-repeat: no-repeat, no-repeat !important;
}

.pui-notify.warning .pui-notify-content
{
	background-image: url('../img/energito.png'), url('../img/warning.png') !important;
	background-position: left bottom, 174px 100px !important;
	background-repeat: no-repeat, no-repeat !important;
}